<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-splashscreen"
      version="5.0.3-dev">
    <name>Splashscreen</name>
    <description>Cordova Splashscreen Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,splashscreen</keywords>

    <js-module src="www/splashscreen.js" name="SplashScreen">
        <clobbers target="navigator.splashscreen" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
		    <feature name="SplashScreen">
			    <param name="ios-package" value="CDVSplashScreen"/>
			    <param name="onload" value="true"/>
		    </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UILaunchImageFile">
            <string>LaunchImage.png</string>
        </config-file>

        <header-file src="src/ios/CDVSplashScreen.h" />
        <source-file src="src/ios/CDVSplashScreen.m" />
        <header-file src="src/ios/CDVViewController+SplashScreen.h" />
        <source-file src="src/ios/CDVViewController+SplashScreen.m" />

	    <framework src="CoreGraphics.framework" />
    </platform>
</plugin>
